/lab1/.idea
/lab1/project
/lab1/.bsp
/lab1/target
/lab2/.bsp
/lab2/.idea
/lab2/project
/lab2/target
/lab2/test_run_dir
lab2/MaxFinder.sv
lab2/MaxFinder2.sv
lab2/MaxFinder3.sv
/.idea
/lab6/.bsp
/lab6/.idea
/lab6/project/target
/lab6/project
/lab6/target
lab6/build.sbt
lab7/.bsp/sbt.json
/lab7/.idea
/lab7/project/target
/lab7/target
/lab7/test_run_dir
lab7/project/build.properties
/lab8/.bsp
/lab8/.idea
/lab8/project/target
/lab8/target
/lab8/test_run_dir
/lab8/project
